$primary-color: #0a4359;
$primary-color-hover: #031015dc;
$secondary-color: #0093bc;
$tertiary-color: #a7d0d9;
$quartenary-color: #1ac6d9;
$quintenary-color: #adbf6b;
$neutral-color: #ffffff;

$decorative-title-size: 1.5rem;
$font-default: Verdana, Geneva, Tahoma, sans-serif;

