// form
.container-register{ 
    display: flex; background-color:$neutral-color; border-radius:10px; box-shadow:10px 10px 15px rgba(0, 0, 0, 0.39); padding:40px; width:350px;
     fieldset{border:none;}
     legend  {color:$primary-color; font-size:$decorative-title-size; font-weight:bolder; padding-bottom:25px; text-align:center;}

     // format input
     .container-register-form,
     .container-register-form.personal,
     .container-register-form.password div{
        display:flex; gap:6px; flex-direction:column; width:100%; 

        .container-register-form.second-legend, 
        .container-register-form.third-legend{
            font-size:10px; margin:10px 0;
        }      
    }

     input{ 
        background-color:$neutral-color; border:2px solid $quartenary-color; border-radius:10px; color:$secondary-color; font-size:0.9rem; font-weight:bold; padding:10px 10px;
        &::placeholder{color:$secondary-color;}
     }

     .container-register-form.full-name input,
     .container-register-form.password input{
        background-color:$tertiary-color; color:$neutral-color;
     }

     // checkbox accept terms
     .container-register-form.accept-terms{
        display:flex; flex-flow:row nowrap; align-items:center;

        input{
            all:unset; border:1px solid $quintenary-color; border-radius:3px; color: white; height:16px; width:16px;
            &:checked{
                background-color:$quintenary-color; background-image:url('../images/check.png'); background-repeat:no-repeat; background-position:center;
            }
        
        }

        label{
            display:flex; flex-flow:row nowrap;
            a{color:$secondary-color; text-decoration:none;} 
        }
}

     .container-register-form.buttons{
        display:flex; flex-flow:row nowrap; justify-content: space-between;margin-top:10px;
        button {
            background-color:$primary-color; border:1px solid $secondary-color; border-radius:10px; color:$neutral-color; cursor:pointer; font-weight:bold; padding:10px; width:100%; transition:0.3s;
            &:hover{background-color:$primary-color-hover;}
        }
    }
}

.copyright{color:$neutral-color; margin:40px; text-align:center;}
